<nav class="navbar navbar-dark bg-dark mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">{{siteName}}</a>
    <ul class="navbar-nav me-auto mb-0 flex-row">
      <li class="nav-item active">
        <a class="nav-link px-2" aria-current="page" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2" href="/posts">Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2" href="/about">About</a>
      </li>
    </ul>
  </div>
</nav>
